<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @seller.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @seller.company %>
</p>

<p>
  <strong>Email:</strong>
  <%= @seller.email %>
</p>

<%= link_to 'Edit', edit_seller_path(@seller) %> |
<%= link_to 'Back', sellers_path %>
